.main_content_container{
    border: 1px solid black;
    border-radius: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1:first-child{
    font-weight: bold;
}

.col_container{
    display: flex;
    flex-direction:  column;
}

.row_container{
    display: flex;
}

.row_item{
    flex: 1;
}
 

.inquiry_container{
    width: 90%;
}

.output_container{
    flex: 1;
}
.label_container{
    font-size: large;
    margin-bottom: 10px;
}
.output_container input[type="text"]{
    width: 90%;
    border: 1px solid black;
    border-radius: 5px;
    height: 28px;
    text-align: center;
    background-color: rgb(226, 226, 226);
}

.section_item{
    margin-bottom: 10px;
}

.sentence_container{
    height: auto;
    overflow: auto;
    word-wrap: break-word;
}

.sentence_container input[type ="text"]{
    width: 95%;
    height: 150px;
}

.tiny_text{
    font-size: small;
}

.button_container{
    margin-top: 20px;
    width: 95%;
}
.button_container .row_item:last-child{
    display: flex;
    justify-content: flex-end;
}

