.content_display_container{
    justify-content: start;
}

.main_content_container{
    width: 1000px;
}

h1{
    margin-top: 20px;
}

.content_nav_container{

    width: 1000px;
    row-gap: 5px;
    margin-bottom: 30px;
    margin-top: 50px;
}

table{
    width: 100%;
    text-align: center;
    border: 1px solid black;
}

th,td{
    padding: 10px;
}

tr:first-child{
    background-color: rgb(152, 152, 152);
}