.yellow_button_design{
    width: 250px;
    height: 30px;
    border-radius: 30px;
    background-color: #FCD200;
}

.yellow_button_design:hover{
    cursor: pointer;
    background-color: #ffe045;
}

.yellow_button_design:active{

    background-color: #FCD200;
}

.abort_button_design{
    width: 250px;
    height: 30px;
    border-radius: 30px;
}

.abort_button_design:hover{
    background-color: red;
    color: white;
}

.delete_button_design, .edit_button_design{
    height: 30px;
    width: 100px;
}

.abort_button_design:hover{
    background-color: red;
    color: white;
}

.edit_button_design {
    background-color: #FCD200;
}

.edit_button_design:hover {
    cursor: pointer;
    border-radius: 30px;
    background-color: #ffe045;
}

.edit_button_design:active{
    background-color: #FCD200;
}

.delete_button_design:hover{
    background-color: red;
    color: white;   
    border-radius: 30px;
}
 