body{
    margin: 0;
    background-color: #32398E;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
}

.inquiry_form_container{
    width: 80%;
    background-color: white;
    height: 620px;
    border-radius: 50px;
    color: black;
    overflow: hidden;
    padding: 20px;
}

.row_container{
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
}

.row_item{
    flex: 1;
}

 
 
.msg_icon{
    height: 500px;
    width: 400px;
}

.center_comp{
    display: flex;
    align-items: center;
    justify-content: center;
}

.input_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: larger;
    overflow-x: auto;
}

form{
    
    margin-top: 20px; 
    width: 90%;
}

label{
    font-weight: bold;
    
}

hr{
    width: 100%;
    color: black;
}

.required{
    color: red;
}

.input_item{
     text-align: center;
     height: 75px;
}



.input_item input[type ="text"], .input_item select{
    width: 90%;
    height: 30px;
    border-radius: 10px;
    background-color: rgb(240, 239, 239);
    font-size: large
}

.input_item input[type ="number"]{
    width: 50%;
    height: 30px;
    border-radius: 10px;
    background-color: rgb(240, 239, 239);
    font-size: large;
    text-align: center;
}

.input_item select{
    text-align: center;
}

.col_container{
    display: flex;
    flex-direction: column;
}

.col_item{
    flex: 1;
    height: 100px;
}

.input_text_col_item{
    border-radius: 10px;
    background-color: rgb(240, 239, 239);
    font-size: large;   
}

.comment_container{
    margin-top: 20px;
  
}
 
hr{
    width: 90%;
}

.button_container{
    display: flex;
    column-gap: 90px;
    margin-top: 30px;
}
.button:first-child{
    float: right;
}
.button:last-child{
    float: right;
}

textarea{
    resize:none;
    font-size: x-large;
    height: 150px;
}