</head>
<body>
<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 admin_sidebar_container">

            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <img src="/Images/ILS_Logo.png" alt="ILS-Logo" class="sidebar_logo">

            
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a href="/student" class="nav-link align-middle px-0">
                            <i class="fa-solid fa-house nav_icon"></i><span class="ms-1 d-none d-sm-inline">Dashboard</span>
                        </a>
                    </li>
                     
                    <li class="nav-item">
                        <a href="/student_enrollment" class="nav-link align-middle px-0">
                            <i class="fa-solid fa-receipt nav_icon"></i> <span class="ms-1 d-none d-sm-inline">Enrollment</span></a>
                        </a>
                    </li>
 
                    <li class="nav-item">
                        <a href="/student_personal_info" class="nav-link align-middle px-0">
                            <i class="fa-solid fa-book-open"></i> <span class="ms-1 d-none d-sm-inline">Personal Information</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="/student_personal_info" class="nav-link align-middle px-0">
                            <i class="fa-solid fa-sliders"></i> <span class="ms-1 d-none d-sm-inline">Account Settings</span>
                        </a>
                    </li>

                    <li class="nav-item box fixed-bottom log_out_container">
                         <form action="/logout" method="post" id = "logout-form"></form>
                            <button class="logout_button" form = "logout-form"><i class="fa-solid fa-right-from-bracket nav_icon"></i><span class="ms-1 d-none d-sm-inline">Log Out</span></button>
                    </li>
                    
                </ul>
            </div>
        </div>

        <div class="col py-3 content_display_container">
        