<%-include('./partials/admin_header')-%>
<link rel="stylesheet" href="./css_files/admin_createAccount_style.css">

<%-include('./partials/admin_sidebar')-%>

<h1 class="page_title">Create Account</h1>
 
<div class ="main_content_container">
    <p class="error_text"><%= err_msg %> </p>

    <div class="align_middle">
        <form action="/create_account" method="post" class="col_container_align_center" id ="account_form">

            <div class="col_item col_container">

                <div class="label_container"><label for="fName">First Name<span class="required_field">*</span></label></div>
                <div class="input_container"><input type="text" name="fName" id="fName" autocomplete="off" required></div>
            </div>

            <div class="col_item col_container">

                <div class="label_container"><label for="fName">Last Name<span class="required_field">*</span></label></div>
                <div class="input_container"><input type="text" name="lName" id="lName" autocomplete="off" required></div>
            </div>

            <div class="col_item">
                <label for="userType">User Type<span class="required_field">*</span></label>
                <div class="col_container">
                    <div class="radio_button_container">
                        <input type="radio" name="userType" id="userTypeStudent" value = "Student" required>Student
                    </div>
                    <div class="radio_button_container">
                        <input type="radio" name="userType" id="userTypeTeacher" value="Teacher" required>Teacher
                    </div>
                </div>

            </div>

            <div class="col_item col_container">

                <div class="label_container"><label for="email_address">Email Address<span class="required_field">*</span></label></div>
                <div class="input_container"><input type="email" name="username" id="email_address" required autocomplete="off"></div>
            </div>
            
            <div class="col_item col_container">

                <div class="label_container"><label for="password">Password<span class="required_field">*</span></label></div>
                <div class="input_container"><input type="password" name="password" id="password" required minlength="8" maxlength="16"><button type="button" id = "gen_pass">Generate Password</button></div>
                
            </div>
            
        </form>

    </div>
</div>

<div class="button_container">
    <button class="yellow_button_design" form="account_form">Create Account</button>
</div>

<script src="./js_files/passwordGenerator.js"></script>
  

<%-include('./partials/admin_footer') -%>