<%-include('./partials/admin_header')-%>
<link rel="stylesheet" href="./css_files/admin_tableview_style.css">
<%-include('./partials/admin_sidebar')-%>
<h1>Teacher Database</h1>
<div class="main_content_container">
  
    <table>
        <tr>
            <th>Full Name</th>
            <th>Username</th>
            <th>Email Address</th>
            <th>Password</th>
            <th></th>
        </tr>
        <tr>

            <td>Juanita Marie L. Dela Cruz</th>
            <td>janita</td>
            <td>jMarie@gmail.com</td>
            <td>12345</td>
            <td><button>Advanced View</button></td>
        </tr>
    </table>

</div>
<%-include('./partials/admin_footer') -%>