<%-include('./partials/admin_header')-%>

<link rel="stylesheet" href="./css_files/admin_tableview_style.css">

<%-include('./partials/admin_sidebar')-%>

<h1>Financial Records</h1>
<div class="main_content_container">
    <table>
        <tr>
            <th>Account Holder</th>
            <th>Transaction ID</th>
            <th>Mode of Payment</th>
            <th>Date of Payment</th>
            <th>Student ID</th>      
        </tr>
        <tr>
            <td>Juanita Marie L. Dela Cruz</td>
            <td>1293u1h1238123</td>
            <td>Credit Card</th>
            <td>2022-11-03 11:30:32</td>
            <td>120425900</td>
        </tr>
    </table>
</div>

<%-include('./partials/admin_footer') -%>