<%-include('./partials/admin_header')-%>
<link rel="stylesheet" href="/css_files/admin_tableview_style.css">
<%-include('./partials/admin_sidebar')-%>

<h1>Enrollment</h1>
<div class="main_content_container">
    <table>
        <tr>
            <th>Class</th>
            <th>Schedule</th>
            <th>Teacher</th>
            <th>Program</th>
            <th></th>
        </tr>
        <tr>
            <td>Mathematics</td>
            <td>MW 7:30-9:00</td>
            <td>Krishelle Cadao</td>
            <td>Tutor</td>
            <td><a href="/enrollment/class"><button>Advanced View</button></a></td>
        </tr>
    </table>
</div>

<%-include('./partials/admin_footer') -%>