<%-include('./partials/admin_header')-%>
<link rel="stylesheet" href="./css_files/admin_tableview_style.css">
<%-include('./partials/admin_sidebar')-%>
<h1>Teacher Database</h1>
<div class="main_content_container">
  
        <table>
            <tr>
                <th>Teacher Full Name</th>
                <th>Teacher ID</th>
                <th>Contact Num</th>
                <th>Department</th>
                <th>Start Date</th>
                <th></th>
                
            </tr>
            <tr>
                <td>Krischelle Cadao</td>
                <td>31293133332</td>
                <td>09123456789</th>
                <td>MW 7:30-9:00</td>
                <td>12-10-2022</td>
                <td><button>Advanced View</button></td>
            </tr>
        </table>

</div>
<%-include('./partials/admin_footer') -%>