<%-include('./partials/admin_header')-%>
<link rel="stylesheet" href="./css_files/admin_student_record_viewStudentProfile_style.css">
<%-include('./partials/admin_sidebar')-%>

<h1>View Report</h1>

<div class="section_container">
    <h3>Student Information</h3>

    <div class = "row_container">

        <div class="row_item col_container">
            <div class="label_container">Full Name</div>
            <div class="output_container">Content</div>

            <div class="label_container">Nickname</div>
            <div class="output_container">Content</div>

            <div class="label_container">Age</div>
            <div class="output_container">Content</div>

            <div class="label_container">Address</div>
            <div class="output_container">1862 E MANALO </div>

            <div class="label_container">Primary Language</div>
            <div class="output_container">Content</div>
        </div>

        <div class="row_item col_container">
            <div class="label_container">Last Name</div>
            <div class="output_container">Content</div>
 
            <div class="label_container">Gender</div>
            <div class="output_container">Content</div>

            <div class="label_container">Birthdate</div>
            <div class="output_container">Content</div>

            <div class="label_container">Nationality</div>
            <div class="output_container">1862 E MANALO </div>

            <div class="label_container">Religion</div>
            <div class="output_container">Content</div>
        </div>

    </div>
</div>

<div class="section_container">
    <h3>Family Information</h3>

    <div class = "row_container">

        <div class="row_item col_container">
            <div class="label_container">Mother's Name</div>
            <div class="output_container">Content</div>

            <div class="label_container">Mother's Occupation</div>
            <div class="output_container col_item">Content</div>

            <div class="label_container">Contact Information</div>
            <div class="output_container">Content</div>

            <div class="label_container">Facebook Name of Parent (For private group)</div>
            <div class="output_container">Content </div>


        </div>

        <div class="row_item col_container">
            <div class="label_container">Father's Name</div>
            <div class="output_container">Content</div>
 
            <div class="label_container">Father's Occupation</div>
            <div class="output_container">Content</div>

            <div class="label_container">Contact Information</div>
            <div class="output_container">Content</div>

            <div class="label_container">Child's Position in the family</div>
            <div class="output_container">Content</div>
        </div>

    </div>
    <div class ="row_container">(siblings to add admin_header)</div>

</div>

<div class="section_container">

    <h3>Emergency Contact Information</h3>
    <p>
        In the event of an emergency, we always attempt to contact the parents first,
        using the information given. However, in the event neither parent is reachable,
        please provide two alternative emergency contacts available during the day.
    </p>

        <div class="row_container">

            <div class="row_item"> 
                <div class="label_container">Full Name</div>
                <div class="emergency_section_output_container">Content</div>
            </div>

            <div class="row_item">
                <div class="label_container">Relationship with child</div>
                <div class="emergency_section_output_container">Content</div>
            </div>    

            <div class="row_item col_container">
                <div class="label_container">Contact Information</div>
                <div class="emergency_section_output_container">Content</div>
            </div>    

        </div>

        <div class="row_container">

            <div class="row_item"> 
                <div class="label_container">Full Name</div>
                <div class="emergency_section_output_container">Content</div>
            </div>

            <div class="row_item">
                <div class="label_container">Relationship with child</div>
                <div class="emergency_section_output_container">Content</div>
            </div>    

            <div class="row_item col_container">
                <div class="label_container">Contact Information</div>
                <div class="emergency_section_output_container">Content</div>
            </div>    

        </div>  
    </div>


<div class="section_container">
    <h3>Child's Personal Background</h3>

    <div class="col_container">

        <div class="label_container">Is your child toilet-trained during the day? (i.e. wears underwear, not pull-ups or diapers)</div>
        <div class="output_container">Content</div>

        <div class="label_container">What are the interests and hobbies of your child?</div>
        <div class="output_container">Content</div>

        <div class="label_container">Does your child play well alone?</div>
        <div class="output_container">Content</div>
        <div class="textFieldContainer">Content2</div>

        <div class="label_container">Does your child play well in groups?</div>
        <div class="output_container">Content</div>
        <div class="textFieldContainer">Content2</div>

        <div class="label_container">Does your child play well in group?</div>
        <div class="output_container">Content</div>
        <div class="textFieldContainer">Content2</div>


        <div class="label_container">Does your child have play group experience?</div>
        <div class="output_container">Content</div>
        <div class="textFieldContainer">Content2</div>

        <div class="label_container">Do your child have special nicknames?</div>
        <div class="output_container">Content</div>

        <div class="label_container">Does your child have a favorite toy?</div>
        <div class="textAreaContainer">Content</div>

        <div class="label_container">Does your child have favorite activities?</div>
        <div class="textAreaContainer">Content</div>

        <div class="label_container">Does your have child have fears or dislikes?</div>
        <div class="textAreaContainer">Content</div>

        <div class="label_container">Does your child have a screen time? (for how long)?</div>
        <div class="textAreaContainer">Content</div>
        
        <div class="label_container">Does your child play with gadgets? (specify what applications)</div>
        <div class="textAreaContainer">Content</div>
        
        <div class="label_container">Who takes care of your child at home?</div>
        <div class="textAreaContainer">Content</div>
        
        <div class="label_container">Describe your child briefly.</div>
        <div class="textAreaContainer">Content</div>

        <div class="label_container">If your child is upset, how does your child like to be comforted?</div>
        <div class="textAreaContainer">Content</div>

        <div class="label_container">If your child does something not nice, how do you discipline him/her?</div>
        <div class="textAreaContainer">Content</div>

        <div class="label_container">My goals/expectations for my child in the playgroup class</div>
        <div class="textAreaContainer">Content</div>

    </div>
</div>

<div class="button_container"><a href="/view_students"><button type="button">Go back</button></a></div>

<%-include('./partials/admin_footer') -%>