<%-include('./partials/admin_header')-%>
<link rel="stylesheet" href="/css_files/admin_tableview_style.css">
<%-include('./partials/admin_sidebar')-%>

<h1>Inquiries</h1>

<div class="main_content_container">
    <table>
        <tr>
            <th>Name of Inquirer</th>
            <th>Date Created</th>
            <th>Program</th>
            <th>Contact Number</th>
            <th>Child Name</th>
            <th> </th>
        </tr>
        <tr>
            <td>Kaithlyn Tighe</td>
            <td>01/01/2022</td>
            <td>Tutorial</td>
            <td>09214211</td>
            <td>Juanita Marie De La Cruz</td>
            <td><a href="/view_inquiry"><button>Advanced View</button></a></td>
        </tr>
    </table>
</div>

<%-include('./partials/admin_footer') -%>