<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css_files/inquiry_page_style.css">
    <link rel="stylesheet" href="./css_files/text_style.css">
    <link rel="stylesheet" href="./css_files/button_style.css">
    <link rel = "icon" href = "/Images/ILS_Logo.png" type = "image/x-icon">
    <title>Inquire</title>
</head>
    <body>
        <div class="inquiry_form_container">
            <h2>Inquiry Form</h2>
            <form action="/inquire" method="post" id = "inquiry_form">
                
                <div class="personal_details_container">

                    <div class="container"> 

                        <div class = "data_container">
                            <label for="inquirer_name" >Name of Inquirer<span style="color:red">*</span></label>
                            <input type="text" name="inquirer_name" id="inquirer_name" required><br>    
                        </div>
                        
                        <div class = "data_container"> 
                            <label for="inquirer_mobile_number" >Phone Number<span style="color:red">*</span></label>
                            <input type="text" name="inquirer_mobile_number" id="inquirer_mobile_number" required><br>
                        </div>


                        <div class = "data_container"> 
                            <label for="inquirer_email_address">Email Address</label>
                            <input type="email" name="inquirer_email_address" id="inquirer_email_address"><br>
                        </div>

                        <div class = "data_container">
                            <label for="inquirer_facebook_link">Facebook Link</label>
                            <input type="text" name="inquirer_facebook_link" id="inquirer_facebook_link"><br>
                        </div>


                    </div>

                    <div class="container"> 

                        <div class = "data_container">
                            <label for="child_name">Child Name<span style="color:red">*</span></label>
                            <input type="text" name="child_name" id="child_name" required><br>
                        </div>

                        <div class = "data_container"> 
                            <label for="child_birthdate">Birthdate<span style="color:red">*</span></label>
                            <input type = "date" name="child_birthdate" id="child_birthdate" required><br>
                        </div>

                        <div class = "data_container">
                            <label for="child_gender">Gender of Child<span style="color:red">*</span></label>
                            <input type="radio" name="gender" id="male_gender" value = "Male" required>
                            <label for="male_gender">Male</label>
                            <input type="radio" name="gender" id="female_gender" value="Female" required>
                            <label for="female_gender">Female</label><br>
                        </div>

                        <div class = "data_container">
                            <label for="program">Program</label> 
                            <select name="program" id="program" required>
                                <option value="Tutoring" >Tutoring</option>
                                <option value="Playdate">Playdate</option>
                            </select>
                        </div>

                    </div>
                </div>
                <textarea name="inquiry" id="inquiry" cols="100" rows="15"></textarea>
            </form>
            <button type = "submit" class="yellow_button_design" form="inquiry_form">Submit Inquiry</button>
        </div>
    </body>
</html>