<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css_files/inquiry_page_style.css">
    <link rel="stylesheet" href="./css_files/text_style.css">
    <link rel="stylesheet" href="./css_files/button_style.css">
    <link rel = "icon" href = "/Images/ILS_Logo.png" type = "image/x-icon">
    <title>Inquire</title>
</head>
    <body>
         <div class="inquiry_form_container row_container">
            <div class="row_item center_comp">
                <img class="msg_icon" src="./Images/message_icon.png" alt="Message Icon">
            </div>

            <div class="input_container row_item"> 
                <h1>Inquiry Form</h1>
                <hr>
                    <form action="/inquire" method="post" id = "inquiry_form">
                        <div class="row_container"> 
                            <div class="input_item row_item"> 
                                <label for="parent_name">Parent Name</label><span class="required">*</span><br>
                                <input type="text" name="parent_name" id="parent_name">
                            </div>
                            <div class="input_item row_item">
                                <label for="child_name">Name of Child</label><span class="required">*</span><br>
                                <input type="text" name="child_name" id="child_name">
                            </div>
                        </div>
                        
                        <div class="row_container">
                            <div class="row_item">
                                <div class="row_container">
                                    <div class="input_item row_item">
                                        <label for="childAge">Age of Child</label><span class="required">*</span><br>
                                        <input type="number" name="childAge" id="childAge" min="1" max="12">
                                    </div>
                                    <div class="input_item row_item">
                                        <label for="childGender">Gender</label><span class="required">*</span><br>
                                        <select name="childGender" id="childGender">
                                            <option value="Male">Male</option>
                                            <option value="Female">Female</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="input_item row_item">
                                <label for="program">Program</label><br>
                                <select name="program" id="program">
                                    <option value="Playgroup Class">Playgroup Class</option>
                                    <option value="Tutorial Program">Tutorial Program</option>
                                    <option value="Reading Class">Reading Class</option>
                                    <option value="Seasonal Programs">Seasonal Programs</option>
                                </select>
                            </div>
                        </div>

                        <div class="row_container"> 
                            <div class="input_item row_item"> 
                                <label for="parent_contact_info">Contact Information</label><span class="required">*</span><br>
                                <input type="text" name="parent_contact_info" id="parent_contact_info">
                            </div>
                            <div class="input_item row_item">
                                <label for="fb_link">Facebook Link</label><span class="required">*</span><br>
                                <input type="text" name="fb_link" id="fb_link">
                            </div>
                        </div>

                        <div class="col_container">
                            <div class="col_item">                            
                                <p>Information that the teacher should be aware of <span class="required">*</span> (e.g. medical, behavioral, etc.) </p>
                            </div>
                            
                             <input class ="input_text_col_item col_item" type="text" name="information_for_teacher1" id="information_for_teacher"> 
                        </div>

                        <div class="col_container">
                            <div class="col_item">                            
                                <p>List down any extracurricular activities/ tutorial classes/ therapy that your child has previously or is currently enrolled in. <span class="required">*</span> </p>
                            </div>
                            
                             <input class ="input_text_col_item col_item" type="text" name="information_for_teacher2" id="information_for_teacher"> 
                        </div>
                        <div class="col_container comment_container"> 
                        <label for="additonal_message">Leave a message</label>
                        <textarea name="additional_message" id="additional_message" cols="30" rows="10" maxlength="1000"></textarea>
                        </div>

                    </form>
                    <div class="button_container">
                        <a href="/"><button class="abort_button_design"> Cancel</button></a>
                        <button class="yellow_button_design" form = "inquiry_form" type="submit">Submit</button>
                        
                    </div>
            </div>
         </div>
    </body>
</html>