<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css_files/login_page_style.css">
    <link rel="stylesheet" href="./css_files/text_style.css">
    <title>ILS Portal Login</title>
</head>
<body>
    <div class = "login_container">
        <div class="login_logo_container">
        </div>

        <div class="login_form_container">
            <h2>Welcome Back!</h2>
            <form action = "/" method="post" id = login_user_form>
                    <div class="login_form_inner_container"> 
                        <label for="username_login_input">Username</label><br>
                        <input type="text" name="username_login_input" id="username_login_input" required><br>
                    </div>
    
                     <div class = "login_form_inner_container">
                        <label for="password_login_input">Password</label><br>
                        <input type="password" name="password_login_input" id="password_login_input"><br>
                        <a href="#" class="forgot_password">Forgot password</a>
                    </div>
            </form>
            <button type="submit" form="login_user_form">Login</button>    
            <span class = "login_footer">Do you have questions that you want to ask us? Contact us here:<a href="#">Inquire here</a></span>
              

        </div>
    </div>
</body>
</html>