<%- include('./partials/student_header') %>
<link rel="stylesheet" href="./css_files/student_enrollment_style.css">
<%- include('./partials/student_sidebar') %>

<h2>Enrollment</h2>
<form action="/student_enrollment" id = "enrollment_form" method="post"> 
    <div class="col_container align_middle_row_dir">

        <div class="col_item section_container align_middle_col_dir">
        <h3>Student Information</h3>
        <div class="row_container">
            <div class="row_item col_container">
                <div class="label_container"><label for="fullName">Last Name, First Name</label></div>
                <div class="output_container"><input type="text" name="fullName" id="fullName" disabled></div>
            </div>

            <div class="align_middle_col_dir row_item col_container">
                <div class="label_container"><label for="nickname">Nickname</label></div>
                <div class="output_container"><input type="text" name="nickname" id="nickname"></div>
            </div>

        </div>

            <div class="row_container">
                <div class="row_item row_container">
                    <div class="row_item col_container">
                        <div class="label_container"><label for="birthday">Birthday</label></div>
                        <div class="calendar_input_container"><input type="date" name="birthdate" id="Birthdate"></div>
                    </div>
                    <div class="row_item col_container">
                        <div class="label_container bigger_flex"><label for="Age">Age</label></div>
                        <div class="output_container age_container"><input  type="number" name="Age" id="age" min="1" max="12"></div>
                    </div>
                </div>
                <div class="row_item">
                    <div class = "row_item row_container">
                        <div class="row_item col_container">
                            <div class="col_item label_container"><label for="gender">Gender</label></div>
                            <div class="output_container"> <select name="gender" id="gender">
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                            </select>
                            </div>
                        </div>
                        <div class="row_item col_container">
                            <div class="label_container"><label for="contact_info">Contact Information</label></div>
                            <div class="output_container bigger_flex"><input type="text" name="contact_info" id="contact_info"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row_container">
                <div class="row_item col_container">
                    <div class="label_container"><label for="address">Address</label></div>
                    <div class="output_container"><input type="text" name="address" id="address"></div>
                </div>

                <div class="row_item col_container">
                    <div class="label_container"><label for="nationality">Nationality</label></div>
                    <div class="output_container"><input type="text" name="nationality" id="nationality"></div>
                </div>
            </div>

            <div class="row_container">
                <div class="row_item col_container">
                    <div class="label_container"><label for="primary_language">Primary Language</label></div>
                    <div class="output_container"><input type="text" name="primary_language" id="primary_language"></div>
                </div>

                <div class="row_item col_container">
                    <div class="label_container"><label for="religion">Religion</label></div>
                    <div class="output_container"><input type="text" name="religion" id="religion"></div>
                </div>
            </div>

        </div>

        <div class="col_item section_container align_middle_col_dir">
            <h3>Family Information</h3>

            <div class="row_container">
                <div class="row_item col_container">
                    <div class="label_container"><label for="motherName">Mother's Name</label></div>
                    <div class="output_container"><input type="text" name="motherName" id="motherName"></div>
                </div>
                <div class="row_item col_container">
                    <div class="label_container"><label for="motherOccupation">Occupation</label></div>
                    <div class="output_container"><input type="text" name="motherOccupation" id="motherOccupation"></div>
                </div>
                <div class="row_item col_container">
                    <div class="label_container"><label for="motherContactInfo">Contact Information</label></div>
                    <div class="output_container"><input type="text" name="motherContactInfo" id="motherContactInfo"></div>
                </div>
            </div>

            <div class="row_container">
                    <div class="row_item col_container">
                        <div class="label_container"><label for="fatherName">Father's Name</label></div>
                        <div class="output_container"><input type="text" name="fatherName" id="fatherName"></div>
                    </div>
                    <div class="row_item col_container">
                        <div class="label_container"><label for="fatherOccupation">Occupation</label></div>
                        <div class="output_container"><input type="text" name="fatherOccupation" id="fatherOccupation"></div>
                    </div>
                    <div class="row_item col_container">
                        <div class="label_container"><label for="fatherContactInfo">Contact Information</label></div>
                        <div class="output_container"><input type="text" name="fatherContactInfo" id="fatherContactInfo"></div>
                    </div>
                </div>
                <div class="col_container">
                    <div class="label_container"><label for="childPosition">Child`s Position in the Family</label></div>
                    <div class="output_container"><input type="text" name="childPosition" id="childPosition"></div>
                </div>
                <hr>
                <div class="button_container">
                <div class="label_container"><h5>Siblings <span class="small_text">&#40 Max of 5 entries &#41</span></h5></div>
                    <button class="yellow_button_design" id = "add_sibling" type="button">Add</button>
                    <button class="abort_button_design" id = "remove_sibling" type="button">Remove</button>
                </div>
                    <div class="sibling_adder col_containers"> 
                    <!-- Storage for student entries -->
                    </div>
        </div>

        <div class="col_item section_container align_middle_col_dir">
            <h3>Emergency Contact</h3>
            <p>
                In the event of an emergency, we always attempt to contact the parents first,
                using the information given. However, in the event neither parent is reachable,
                please provide two alternative emergency contacts available during the day.
            </p>
            <hr>
            
            <div class="col_container">
                <div class="row_container">
                    <div class="row_item col_container">
                        <div class="label_container"><label for="firstEmergencyContactName">Name</label></div>
                        <div class="output_container"><input type="text" name="firstEmergencyContactName" id="firstEmergencyContactName"></div>
                    </div>

                    <div class="row_item col_container">
                        <div class="label_container"><label for="firstEmergencyContactRelationship">Relationship</label></div>
                        <div class="output_container"><input type="text" name="firstEmergencyContactRelationship" id="firstEmergencyContactRelationship"></div>
                    </div>

                    <div class="row_item col_container">
                        <div class="label_container"><label for="firstEmergencyContactNumber">Contact Information</label></div>
                        <div class="output_container"><input type="number" name="firstEmergencyContactNumber" id="firstEmergencyContactNumber" min="0"></div>
                    </div>
                </div>

                <div class="row_container">
                    <div class="row_item col_container">
                        <div class="label_container"><label for="secondEmergencyContactName">Name</label></div>
                        <div class="output_container"><input type="text" name="secondEmergencyContactName" id="secondEmergencyContactName"></div>
                    </div>

                    <div class="row_item col_container">
                        <div class="label_container"><label for="secondEmergencyContactRelationship">Relationship</label></div>
                        <div class="output_container"><input type="text" name="secondEmergencyContactRelationship" id="secondEmergencyContactRelationship"></div>
                    </div>

                    <div class="row_item col_container">
                        <div class="label_container"><label for="secondEmergencyContactNumber">Contact Information</label></div>
                        <div class="output_container"><input type="number" name="secondEmergencyContactNumber" id="secondEmergencyContactNumber" min="0"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</form>

<div class="submit_button_container">
<a href="/student"><button class="abort_button_design extended_button">Cancel</button></a>
<button form="enrollment_form" type="submit" class="yellow_button_design extended_button" type ="submit">Submit</button>

</div>
 
<script src="./js_files/sibling_adder.js"></script>
<%- include('./partials/student_footer') %>