<%- include('./partials/student_header') %>
<link rel="stylesheet" href="./css_files/student_personal_information_style.css">

<%- include('./partials/student_sidebar') %>

<h1 class="title_header">Personal Information</h1>

<form action="">
    <div class="col_container">
        <div class="section_container">
            <div><h3>About My Child</h3></div>
            <div></div>
        </div>
    </div>
    <div class="button_container">
        <a href="/student"><button type="button" class="abort_button_design">Cancel</button></a>
        <button type="submit" class="yellow_button_design">Save</button>
    </div>
</form>
<%- include('./partials/student_footer') %>