<%- include('./partials/student_header') %>
<link rel="stylesheet" href="./css_files/student_enrollment_style.css">
<%- include('./partials/student_sidebar') %>

<h2>Enrollment</h2>

<div class="col_container align_middle_row_dir">

    <div class="col_item section_container align_middle_col_dir">
    <h3>Student Information</h3>
    <div class="row_container">
        <div class="row_item col_container">
            <div class="label_container"><label for="fullName">Last Name, First Name</label></div>
            <div class="output_container"><input type="text" name="fullName" id="fullName" disabled></div>
        </div>

        <div class="align_middle_col_dir row_item col_container">
            <div class="label_container"><label for="nickname">Nickname</label></div>
            <div class="output_container"><input type="text" name="nickname" id="nickname"></div>
        </div>

    </div>

        <div class="row_container">
            <div class="row_item row_container">
                <div class="row_item col_container">
                    <div class="label_container"><label for="birthday">Birthday</label></div>
                    <div class="calendar_input_container"><input type="date" name="birthdate" id="Birthdate"></div>
                </div>
                <div class="row_item col_container">
                    <div class="label_container bigger_flex"><label for="age">Age</label></div>
                    <div class="num_container smaller_flex"><input type="number" name="ge" id="age" min="1" max="12"></div>
                </div>
            </div>
            <div class="row_item">
                <div class = "row_item row_container">
                    <div class="row_item col_container">
                        <div class="col_item label_container"><label for="gender">Gender</label></div>
                        <div class="col_item smaller_flex"> <select name="gender" id="gender">
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                        </select>
                    </div>
                    </div>
                </div>
                <div class="row_item"></div>
            </div>
        </div>
    </div>

    </div>

</div>
 

<%- include('./partials/student_footer') %>