<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css_files/inquiry_page_style.css">
    <link rel="stylesheet" href="./css_files/text_style.css">
    <link rel="stylesheet" href="./css_files/button_style.css">
    <title>Transactions - Inquiries</title>
</head>

    <body>
        <!-- Left side -->
        <div class="transactions_inquiries_container">
            <div class="navbar">
                <div class="navbar-user">
                    <h2><span class="user"></span>Dela Cruz, Juan</h2>
                    <h5><span class="email"></span>juandelacruz@gmail.com</h5>
                    <!-- Edit account info for ejs -->
                </div>

                <div class="navbar-menu">
                    <ul>
                        <li>
                            <a href=""><span class="dashboard-home"></span>
                            <span>Dashboard</span></a>
                        </li>
                        <li>
                            <a href=""><span class="transactions-home"></span>
                            <span>Transactions</span></a>
                        </li>
                        <ul>
                            <li>
                                <a href=""><span class="transactions-inquries"></span>
                                <span>Inquries</span></a>
                            </li>
                            <li>
                                <a href=""><span class="transactions-enrollment"></span>
                                <span>Enrollment</span></a>
                            </li>
                        </ul>
                        <li>
                            <a href=""><span class="reports-and-records-home"></span>
                            <span>Reports & Records</span></a>
                        </li>
                        <li>
                            <a href=""><span class="create-account-home"></span>
                            <span>Create Account</span></a>
                        </li>
                    </ul>
                </div>
            </div>
            
            <!-- Right side -->
            <div class="main-container">
                <div class="main-title"> 
                    <h1 class="inquries-title">Inquiries</h1>
                </div>
                
                <div class="search_inquiry">
                    <input type="text" placeholder="Search inquiry name">
                </div>

                <div class="inquiries-table">
                    <table>
                        <thead>
                            <tr>
                                <td>Form Sent</td>
                                <td>Name of Inquirer</td>
                                <td>Program</td>
                                <td>Child Full Name</td>
                                <td>Contact Number</td>
                                <!-- might delete this below -->
                                <td>Form</td>
                                <td>Delete</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>01/20/23</td>
                                <td>Kaitlyn Tighe</td>
                                <td>
                                    <span class="program"></span>
                                    Tutoring
                                </td>
                                <td>Juanita Marie L. Dela Cruz</td>
                                <td>09123456789</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
    </body>
</html>